.jumbotron {
    background-image: url(../images/bjumbotron.jpg);
    background-size: cover;
    background-position: 0cm;
    color: white;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: darkslategray;
    margin-bottom: 0px;
    margin-top:  10px;
    color: white;
}


.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    background-color: brown;
    border-radius: 0px;
}

.link-color {
    color: bisque;
}

.footer-address-icon{
    padding-right: 10px;
}

.img-fluid{
    width: 100%;
    height: 500px;
}

.card-img-top{
    height: 180px;
}